*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}
body {
    font-size: 100%;
    font-family: "proxima-nova",sans-serif;
}

/*
    Using width: 100% will always match the width of the container so it will stretch out the image.
*/
img {
    max-width: 100%;
}

h1,h2 {
    font-family: "adelle" ,serif;
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

@media only screen and (max-width: 490px) {

}
